.ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
    width: 540px;
    height: 44px;
    background: #FFFFFF;
    /* Gray/$-gray-100 */

    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    padding: 10px 12px;
    font-weight: 400;
    font-size: 16px;
    color: #535261;
}

.add__device_page .add_device .content__add .body__add .add__input {
    padding-right: 30px;
}